<%= form_with(url: ) do |form| %>
  <% if @inventory_foods.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@inventory_foods.errors.count, "error") %> prohibited this inventory_food from being saved:</h2>

      <ul>
        <% @inventory_foods.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.text_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
