<p style="color: green"><%= notice %></p>
<h1>Inventories</h1>

<ul id="inventories">
  <% @inventories.each_with_index do |inventory, index| %>
  <% if can? :manage, inventory %>
     <li id="<%= dom_id inventory %>">
     <div>
    <p>inventory <%= index + 1 %></p>
    <p><%= button_to "Remove", inventory, method: :delete %></p>
    </div>
    <p>
    <%= link_to inventory.name, inventory_url(inventory) %>
     </p>
     </li>
     <% end %>
  <% end %>
</ul>

<%= link_to "New inventory", new_inventory_path %>
