<section class="inventory-container">
<h1 class="inventory-title">Inventories</h1>

<ul class="inventories-container" id="inventories">
  <% @inventories.each_with_index do |inventory, index| %>
  <% if can? :manage, inventory %>
     <li id="<%= dom_id inventory %>">
     <div class="inventory-element">
    <h2>inventory <%= index + 1 %></h2>
    <p><%= button_to "Remove", inventory, method: :delete, class: 'inven-remove' %></p>
    </div>
    <p>
    <%= link_to inventory.name, inventory_url(inventory), class: 'inven-name' %>
     </p>
     </li>
     <% end %>
  <% end %>
</ul>

<%= link_to "Add Inventory", new_inventory_path, class: 'add-inventory' %>
</section>