<p style="color: green"><%= notice %></p>

<div id="recipes" class="recipe-container">
  <% @recipes.each do |recipe| %>
    <% if (current_user.id == recipe.user_id) || (current_user.admin?) %> 
      <div class="recipe-element">
        <div class="recipe-head">
          <h2><%= link_to "#{recipe.name}", recipe_path(recipe.id) %></h2>
          <p>
            <% if can? :destroy, recipe %>
              <%= button_to "REMOVE", recipe, method: :delete, class: "recipe-remove" %>
            <% end %>
          </p>
        </div>
        <div class="recipe-descr">
          <p><%= recipe.description %></p>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

<div class="recipe-footer">
  <%= link_to "New recipe", new_recipe_path, class: 'btn-submit' %>
</div>
