<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <% if (current_user.id == recipe.user_id) || (current_user.admin?) %> 
      <div>
        <p><strong><%= recipe.name %></strong></p>

        <p><%= recipe.description %></p>
        
        <p>
          <%= link_to "Show this recipe", recipe %>
          <%= button_to "Destroy this recipe", recipe, method: :delete %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
