<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<%= button_to "Generate shopping list", new_recipe_recipe_food_path(@recipe.id), method: :get %>
<% if can? :manage, @recipe %>
  <%= button_to "Add ingredient", new_recipe_recipe_food_path(@recipe.id), method: :get %>
<%end%>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
      </tr>
  </thead>

  <tbody>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
        <td>$<%= recipe_food.quantity * recipe_food.food.price%></td>
        <td>
        <div>
          <% if can? :manage, @recipe %>
            <%= button_to "Modify", edit_recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :get%>
            <%= button_to "Remove", recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete%>
          <%end%>
          <div>
        </td>
      </tr>
    <%end %>
  </tbody>
</table>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>
</div>
