<% content_for :javascript_includes do %>
  <%= javascript_include_tag "modal.js" %>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<button type="button"
  id="btn-choose-inventory"
  onclick="showModal()"
  data-toggle="modal"
  data-target="#modalChooseInventory">
    Generate shopping list
</button>
<section class="inventory-container"></section>
<% if can? :manage, @recipe %>
<div class="add-new-food">
  <%= button_to "Add ingredient", new_recipe_recipe_food_path(@recipe.id), method: :get %>
<%end%>
</div>
<hr style="width:500px;">
<table class="inventory-food-tale">
  <thead>
    <tr class="head-table">
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
      </tr>
  </thead>

  <tbody>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr class="inventory-tr">
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
        <td>$<%= recipe_food.quantity * recipe_food.food.price%></td>
        <td>
        <div>
          <% if can? :manage, @recipe %>
            <%= button_to "Modify", edit_recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :get%>
            <%= button_to "Remove", recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete%>
          <%end%>
          <div>
        </td>
      </tr>
    <%end %>
  </tbody>
</table>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>
</div>
</section>

<div class="modal hide" id="modalChooseInventory">
  <h5 id="modalChooseInventoryLabel">Generating Shopping List</h5>

  <div class="modal-body">
    <h6>Choose an inventory to use</h6>
    <%= form_with url: shopping_lists_path, method: :get do |form| %>
      <%- @inventories = Inventory.where(user_id: current_user.id) %>
      <%= form.select :inventory_id, @inventories.map { |i| [i.name, i.id] } %>

      <%= form.number_field :recipe_id, value: @recipe.id, hidden: true %>

      <div class="modal-footer">
        <%= form.submit "Generate", data: { turbo: false } %>
      </div>
    <% end %>
  </div>
</div>
