<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "inventory", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <%= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>
  </head>

  <body>

    <nav class="navbar">
      <div class="navbar-identifier">
      <% if user_signed_in? %> Logged in as <strong class="navbar-identifier"> <%= current_user.name %></strong>
    </div>
      <%= link_to "Foods", foods_path, class: "navbar-link" %> |
      <%= link_to "Recipes", recipes_path, class: "navbar-link" %> |
      <%= link_to "Public recipes", public_recipes_path, class: "navbar-link" %> |
      <%= link_to "Inventories", inventories_path, class: "navbar-link" %> |
      <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> |   
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-btn"  %>      
      <% end %>
    </nav>

    <p class="alert" style="color: red"><%= alert %></p>
      <%= yield %>
  </body>
</html>
